@using amazon_clone.Domain.Models
@model List<AdministratorOperation>


<div class="card">
    <div class="card-header">
        <h3 class="card-title">Operations</h3>
    </div>

    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Operation ID</th>
                    <th>Operation Log</th>
                    <th>Done By (Admin ID)</th>
                    <th>Done At</th>
                </tr>
            </thead>
            <tbody>
                @foreach (AdministratorOperation operation in Model)
                {
                    <tr>
                        <td>@operation.OperationID</td>
                        <td>@operation.OperationLog</td>
                        <td>@operation.AdministratorID</td>
                        <td>@operation.OperationDateTime.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>