@{
    Layout = "_RegisterAndLoginLayout";
}

<div class="row" style="margin-top:120px;">
    <div class="col mt-5">
        <img src="~/images/UI/icons8-amazon-250.png" class="align-conten" />
    </div>
    <div class="col mt-5">
        <div style="margin-top:120px;">
            <a class="btn w-75" style="background-color:black; color:white;" asp-area="Identity" asp-page="/Account/Login">Login</a>
           @*  <a class="btn w-75 mt-3" style="background-color:darkorange; color:white;" asp-area="Identity" asp-page="/Account/Register">Register</a> *@
        </div>
    </div>
</div>