

<div class="card">
    <img class="text-center" src="/images/UI/double-check.png" />
    <p>
        Purchase successful!
    </p>
    <p>
        Thanks for shopping with us.
    </p>

    <a asp-controller="Order" asp-action="Index" class="btn" style="color:white;background-color:darkorange;">Continue</a>
</div>

<style>
    .card{
        height: 340px;
        width: 250px;
        margin-left: 550px;
        margin-top:50px;
        padding: 10px;
        margin-bottom:50px;
    }
    
    img{
        height:200px;
        width:150px;
        margin-left:50px;
    }
</style>