@using amazon_clone.Domain.Models
@model List<AdministratorTransaction>


<div class="card">
    <div class="card-header">
        <h3 class="card-title">Transactions</h3>
    </div>

    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Transaction ID</th>
                    <th>Transaction Log</th>
                    <th>Done By (Admin ID)</th>
                    <th>Done At</th>
                </tr>
            </thead>
            <tbody>
                @foreach (AdministratorTransaction transaction in Model)
                {
                    <tr>
                        <td>@transaction.TransactionID</td>
                        <td>@transaction.TransactionLog</td>
                        <td>@transaction.AdministratorID</td>
                        <td>@transaction.TransactionDateTime.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>