@using amazon_clone.Domain.Models
@model ProductCategory

<h1 style="margin-left:100px;">Add New Product Category</h1>

<form method="post" enctype="multipart/form-data">
    <div class="card mt-3">
        <input asp-for="@Model.CategoryID" hidden />
        <div class="row">
            <div class="col input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Product Name</span>
                <input asp-for="@Model.CategoryName" type="text" class="form-control" placeholder="Product Name" aria-label="Product Name" aria-describedby="basic-addon1">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>
    </div>
</form>


<style>
    .card {
        width: 75%;
        margin-left: 100px;
        padding: 15px;
    }
</style>